@font-face {
    font-family: "ModernSans-Light";
    src: url('ModernSans-Light.otf');
  }

  html {
    box-sizing: border-box;
  }

  *, *:before, *:after {
    box-sizing: inherit;
  }

* {
    font-size: 1.6rem;
    font-family: ModernSans-Light;
    font-weight: 100;
    /* outline: 1px solid red; */
}

.container {
    margin: 0 auto;
    width: 100%;
}

.displayText {
    font-size: 1rem;
}

/* From uiverse.io by @adamgiebl */
button {
    color: #090909;
    font-size: .7rem;
    border-radius: 0.5em;
    background: #e8e8e8;
    border: 1px solid #e8e8e8;
    transition: all .3s;
}

#add {
    grid-area: add;
}
  
#equals {
    grid-area: equals;
}
   
button:hover {
    border: 1px solid white;
}
   
button:active {
    box-shadow: 4px 4px 12px #c5c5c5,
                -4px -4px 12px #ffffff;
}

.card {
    margin: 0 auto;
    width: 12rem;
    height: 15rem;
    padding: 0 .4rem .4rem .4rem;
    background: linear-gradient(135deg, #ebadb6 0%, #aceae1 100%);
    border-radius: .5rem;
    box-shadow: 20px 20px 60px #bebebe, -20px -20px 60px #ffffff;
    display: grid;
    gap: .5rem;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    grid-auto-flow: row;
    grid-template-areas:
      "display display display display display"
      ". . . . ."
      ". . . . ."
      ". . . add equals"
      ". . . add equals";
      /*center positioning*/
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
}
   
.cardDisplay {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    gap: .4rem;
    margin-top: .7rem;
    margin-bottom: .4rem;
    width: 98%;
    height: 3.2rem;
    padding: 1rem .7rem;
    font-size: smaller;
    border-radius: .5rem;
    background: linear-gradient(135deg, #FFFFFF 0%, lightgrey 100%);
    z-index: 100;
    text-align: right;
    grid-area: display;
}