@font-face {
    font-family: "ModernSans-Light";
    src: url('ModernSans-Light.otf');
  }

* {
    font-size: 1.6rem;
    font-family: ModernSans-Light;
    font-weight: 100;
    /* outline: 1px solid red; */
}

.container {
    margin: 0 auto;
    width: 60%;
}

.displayText {
    font-size: 1.3rem;
}

/* From uiverse.io by @adamgiebl */
button {
    color: #090909;
    padding: 0.5rem 1.2rem;
    font-size: .7rem;
    border-radius: 0.5em;
    background: #e8e8e8;
    border: 1px solid #e8e8e8;
    transition: all .3s;
    /* box-shadow: 6px 6px 12px #c5c5c5,
                -6px -6px 12px #ffffff; */
   }
   
   button:hover {
    border: 1px solid white;
   }
   
   button:active {
    box-shadow: 4px 4px 12px #c5c5c5,
                -4px -4px 12px #ffffff;
   }

.display {
    width: 80%;
    height: auto;
    margin: 0 auto;
    text-align: right;
    font-size: 2rem;
}

.card {
    margin: 0 auto;
    width: 12rem;
    height: 15rem;
    background: linear-gradient(135deg, #ebadb6 0%, #aceae1 100%);
    border-radius: .5rem;
    box-shadow: 20px 20px 60px #bebebe, -20px -20px 60px #ffffff;
   }
   
   
   /* .card__content {
    padding: 1rem;
    font-size: smaller;
   } */
   
   
   .cardDisplay {
    margin: 0 auto;
    overflow: hidden;
    margin-top: 3rem;
    margin-bottom: .4rem;
    width: 80%;
    height: 30px;
    padding: .7rem;
    font-size: smaller;
    border-radius: .5rem;
    background: linear-gradient(135deg, #FFFFFF 0%, lightgrey 100%);
    z-index: 100;
    text-align: right;
   }
   